{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'shopco/styles/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shopco/resources/slick-1.8.1/slick/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'shopco/resources/slick-1.8.1/slick/slick-theme.css' %}" />
    <title> {% block title%}{% endblock%} | Shop.Co</title>
</head>
<body>
    <header class="main-header">
        <div class="black container-one">
            <p>Sign Up and get 20&#37; off your first order.</p>
            <div class="sign-up">
                <a href="{% url 'shopco:signup' %}">Sign Up Now</a>
            </div>
            <div class="close">
                <a href="#"><img src="{% static 'shopco/images/closesign.png' %}" alt="close"></a>
            </div>
        </div>
    
        <div class="two-col container-two">
            <div class="col">
                <div class="logo">
                    <a href="{% url 'shopco:index' %}">
                        <img src="{% static 'shopco/images/SHOP.CO.png' %}" alt="Shop.Co">
                    </a>
                </div>
                <nav class="navigation">
                    <ul>
                        <li><a href="{% url 'item:items' %}">Shop<img src="{% static 'shopco/images/downarrow.png' %}" alt="downarrow"></a></li>
                        <li><a href="#">On Sale</a></li>
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="#">Brands</a></li>
                    </ul>
                </nav>
                {% comment %} <div class="search-box">
                    <button id="search"><img src="{% static 'shopco/images/search.png' %}" alt="search"></button>
                    <input type="text" class="search-input" placeholder="Search...">
                </div> {% endcomment %}
            </div>

            <nav class="main-shop">
                <div class="space-x-6">
                    <a href="{% url 'item:new' %}">New Item</a>
                    <a href="{% url 'item:items' %}">Browse</a>
        
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'conversation:inbox' %}" class="inbox">Inbox</a>
                        <a href="{% url 'dashboard:index' %}" class="dashboard">Dashboard</a>
                    {% else %}
                        <a href="{% url 'shopco:signup' %}" class="signupbtn">Sign Up</a>
                        <a href="{% url 'shopco:login' %}" class="loginbtn">Log in</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>
    
    <div class="px-6 py-6">
        {% block content%}
        {% endblock%}
    </div>

    
</body>
<!-- FOOTER SECTION -->
<section class="footer-section">
    <div class="blacktwo-one">
        <h3>STAY UP TO DATE ABOUT OUR LATEST OFFERS</h3>
        <form class="email-box" method="post" action="#">
            {% csrf_token %}
            <div>
                <input type="email" class="email-input" name="email" placeholder="Please enter your Email" required>
            </div>
            <div>
                <button id="btn" type="submit">Subscribe to Newsletter</button>
            </div>
        </form>
    </div>
</section>

<!-- Main Footer -->
<footer class="footerbottom-one">
    <div class="footer-container">

        <div class="column">
            <a href="{% url 'shopco:index' %}">
                <img src="{% static 'shopco/images/SHOP.CO.png' %}" alt="Shop.Co">
            </a>
            <p>We have clothes that suit your style and which you’re proud to wear. From women to men.</p>
            <div class="social-icons">
                <a href="https://x.com/?lang=en-za" target="_blank">
                    <img src="{% static 'shopco/images/twitter.png' %}" alt="twitter">
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <img src="{% static 'shopco/images/facebook.png' %}" alt="facebook">
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <img src="{% static 'shopco/images/instagram.png' %}" alt="instagram">
                </a>
                <a href="https://github.com/" target="_blank">
                    <img src="{% static 'shopco/images/github.png' %}" alt="github">
                </a>
            </div>
        </div>

        <div class="column">
            <h3>COMPANY</h3>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Works</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>

        <div class="column">
            <h3>HELP</h3>
            <ul>
                <li><a href="#">Customer Support</a></li>
                <li><a href="#">Delivery Details</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="column">
            <h3>FAQ</h3>
            <ul>
                <li><a href="#">Account</a></li>
                <li><a href="#">Manage Deliveries</a></li>
                <a href="{% url 'shopco:contact' %}">Contact</a></li>
                <li><a href="#">Payments</a></li>
            </ul>
        </div>

        <div class="column">
            <h3>RESOURCES</h3>
            <ul>
                <li><a href="#">Free eBooks</a></li>
                <li><a href="#">Development Tutorial</a></li>
                <li><a href="#">How to - Blog</a></li>
                <li><a href="#">YouTube Playlist</a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- Payment Section -->
<div class="banking">
    <div class="container-three">
        <p>Shop.co &copy; 2000 - 2025. All Rights Reserved</p>
        <div class="bank">
            <img src="{% static 'shopco/images/visa.png' %}" alt="visa">
            <img src="{% static 'shopco/images/mastercard.png' %}" alt="mastercard">
            <img src="{% static 'shopco/images/paypal.png' %}" alt="paypal">
            <img src="{% static 'shopco/images/applepay.png' %}" alt="applepay">
            <img src="{% static 'shopco/images/gpay.png' %}" alt="gpay">
        </div>
    </div>
</div>


<!-- External libraries: keep as-is -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>


<script src="{% static 'shopco/resources/slick-1.8.1/slick/slick.min.js' %}"></script>
<script src="{% static 'shopco/scripts/script.js' %}"></script>
</html>